.nav_bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  justify-content: space-between;
  padding-top: 30%;
}

.title {
  color: white;
  text-decoration-color: white;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  font-size: 40px;
}

.active-link {
  color: lightblue;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  color: lightblue;
}

a:active {
  color: lightblue;
}

link:visited {
  text-decoration: none;
}
