.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  /* border: 3px solid rgb(76, 161, 184); */
}

.button {
  background-color: #1b741e; /* Green */
  border: 10%;
  border-color: #1b811e;
  border-radius: 20px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: solid;
  display: inline-block;
  font-size: 32px;
  /*font-family: "Courier New", Courier, monospace;*/
  font-weight: bold;
}

.button-red {
  background-color: #9f2727; /* Green */
  border: 10px;
  border-color: #1b811e;
  border-radius: 20px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: solid;
  display: inline-block;
  font-size: 32px;
  /*font-family: "Courier New", Courier, monospace;*/
  font-weight: bold;
}
.timer-container h1 {
  font-family: "Courier New", Courier, monospace;
}

.pop-button {
  display: inline;
  background-color: #6bbe92;
  border: 0;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  width: 10%;
  position: fixed;
  top: 0;
  right: 5px;
}

.popup {
  position: relative;
  background-color: rgba(0, 0, 0, 0.115);
  width: 15%;
  position: fixed;
  top: 40px;
  right: 0;
  padding-bottom: 20px;
}
