.closeButton_to_do {
  height: 30px;
  width: 200px;
  font-size: 20px;
  display: inline-flex;
  background-color: rgba(0, 0, 0, 0.115);
}

.close_arrow {
  top: 0;
  text-align: right;
}

.task_text {
  text-align: left;
  width: 90%;
}

.single_task_to_do {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.115);
  border-radius: 20px;
  padding-top: 0px;
}

.table_to_do {
  position: relative;
  width: 100%;
}

.tasks_to_do {
  position: absolute;
  width: 50%;
  left: 25%;
}

.submit_row_to_do {
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.115);
  margin: 10px 20px 0px 0px;
  border-radius: 20px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.task_form_to_do {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-size: 15px;
  width: 84%;
  margin-left: 10px;
  margin-top: 12px;
  box-shadow: none;
  outline: none;
  border: none;
}

.pomodoro_form_to_do {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-size: 15px;
  width: 25%;
  margin-left: 10px;
  margin-top: 12px;
  box-shadow: none;
  outline: none;
  border: none;
}

.text {
  width: 100%;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
}

.checkbox_column {
  left: 0%;
  width: 7%;
}

.text_column {
  left: 7%;
  width: 85%;
  padding-right: 2%;
}

.delete_column {
  left: 97%;
  width: 3%;
}

.column3 {
  left: 92%;
  width: 5%;
  padding-right: 1%;
}

.submit_todo {
  display: inline;
  background-color: #6bbe92;
  border: 0;
  border-radius: 5px;
  margin: 10px;
  margin-right: 20px;
  margin-top: 18px;
  float: right;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  padding: 5px 10px -10px;
}

.to_do_image {
  position: relative;
}
